<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Carrito {{user.cart}}</h1>
        <div class="cart-container">
            {{#each cart.products}}
            <div class="cart-item">
                <img src="{{this.productId.thumbnail}}" alt="{{this.productId.title}}">
                <h2>{{this.productId.title}}</h2>
                <p>{{this.productId.price}} USD</p>
                <p>Cantidad: {{this.quantity}}</p>
                <button onclick="location.href='/products/{{this.productId._id}}'">Ver detalles</button>
            </div>
            {{/each}}
        </div>
        <div class="pagination">
            {{#if cart.products.hasPrevPage}}
            <a href="/carts/{{cart._id}}?page={{cart.products.prevPage}}">Anterior</a>
            {{/if}}
            {{#if cart.products.hasNextPage}}
            <a href="/carts/{{cart._id}}?page={{cart.products.nextPage}}">Siguiente</a>
            {{/if}}
        </div>
    </div>
</body>
</html>